.hero{
    width: 100%;

    &__img{
        position: relative;
        background-image: url("../../images/bg-intro-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 55%;
        height: 15.875rem;
        width: 100%;
     
    }
    
}