//color

$primary-text-color: #B8B7BC;
$limeGreen-color: hsl(136, 65%, 51%);
$brightCyan-color: hsl(192, 70%, 51%);
$white-color: #fff;

$darkBlue: hsl(233, 26%, 24%);


//logo

$logo-width: 140px;
$logo-height: 20px;

//hamburger

$hamburger-width: 24px;
$hamburger-line-height: 2px;
